.philosophy {
	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "image text";
		grid-template-rows: auto;

		&:nth-child(even) {
			grid-template-areas: "text image";

			@include media-breakpoint-down(md) {
				grid-template-columns: 1fr;
				grid-template-areas:
					"image"
					"text";
				grid-template-rows: auto;
			}

			.philosophy__block-text {
				padding: 50px 30px 30px 140px;

				@include media-breakpoint-down(md) {
					padding: 30px;
				}
			}

			.philosophy__block-image-title {
				top: 35px;
				right: auto;
				left: 50px;
				text-align: left;
			}

			.philosophy__button-block {
				text-align: right;
			}
		}

		@include media-breakpoint-down(md) {
			grid-template-columns: 1fr;
			grid-template-areas:
				"image"
				"text";
			grid-template-rows: auto;
		}
	}

	&__block-image {
		position: relative;
		grid-area: image;

		p {
			color: $white;
			font-family: "PF DinDisplay Pro";
			font-size: 48px;
			font-weight: 700;
			position: absolute;
			top: 35px;
			right: 50px;
			text-align: right;
			max-width: 255px;
			line-height: 55px;

			@include media-breakpoint-down(md) {
				font-size: 38px;
			}
		}

		img {
			width: 100%;
			height: auto;

			@include media-breakpoint-down(md) {
				max-height: 400px;
				object-fit: cover;
				object-position: 0 0;
			}
		}
	}

	&__block-text {
		padding: 50px 140px 30px 30px;
		display: flex;
		flex-direction: column;
		height: 100%;
		grid-area: text;

		p,
		span {
			color: $gray;
			font-family: "Helvetica Neue LT Std";
			font-size: 24px;
			font-weight: 400;

			@include media-breakpoint-down(md) {
				font-size: 18px;
			}
		}

		span {
			font-weight: bold;
		}

		p {
			margin-bottom: 20px;
		}

		ul {
			padding-left: 20px;
			margin-top: 20px;
		}

		li {
			color: $gray;
			font-family: "Helvetica Neue LT Std";
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 30px;

			@include media-breakpoint-down(md) {
				font-size: 18px;
			}
		}

		@include media-breakpoint-down(lg) {
			padding: 40px 40px 25px 50px;

			@include media-breakpoint-down(md) {
				padding: 30px;
			}
		}
	}

	&__button-block {
		text-align: left;
	}
}
